:root {
  --primary: #fdfdfd;
  --secondary: #233748;
  --accent: #008aa4;
  --hover: #196c7c;
  --background: #f7fafc;
  --shadow: #f2f2f2;
  --box-shadow: #e8e8e8;
}

* {
  color: var(--secondary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
}

p {
  margin: 10px 0;
}

button:hover {
  background-color: var(--hover);
}

/* page content */
main {
  max-width: 1200px;
  margin: 24px auto;
}

/* navbar */
header nav {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  gap: 16px;
  border-bottom: 2px solid var(--shadow);
  height: 64px;
}

header nav h1 {
  color: var(--accent);
  font-weight: bold;
  padding-left: 20px;
}

.links {
  padding-right: 20px;
  margin-left: auto;
}

header nav a {
  text-decoration: none;
  cursor: pointer;
  margin: 16px;
  transition: all .2s linear;
}

header nav a:hover {
  color: var(--accent);
}

header nav a.active {
  color: var(--accent);
  border-bottom: 1px solid var(--accent);
}

/* create recipe form */
.create {
  margin: 0 auto;
  max-width: 960px;
}

form {
  margin: 30px;
  background-color: var(--primary);
 
  border-radius: 8px;
  box-shadow: 0 1px 10px 0 var(--box-shadow);
  padding: 20px;
}

form h2 {
  margin-bottom: 12px;
}

form input, form label, form textarea {
  display: block;

}

form input, form textarea {
  margin: 10px 0 30px 0;
  padding: 8px;
  border-radius: 4px;
  width: 400px;
  border: 1px solid #e4e4e4;
  /* color: var(--secondary) */
}

input[type='text']:hover {
  border: 1px solid #c6c6c6;
}

textarea:hover {
  border: 1px solid #c6c6c6;
}

form label span {
  /* background-color:#482334; */
  padding: 2px 0;
}

form button {
  border: 0;
  padding: 8px 12px;
  border-radius: 32px;
  color: var(--primary);
  background-color: var(--accent);
  cursor: pointer;
  transition: background-color .2s linear;
}

/* recipes */ 
.recipe {
  background-color: #fdfdfd;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  margin: 10px;
  max-width: 500px;
  padding: 1px 20px;
}

.recipe h1 {
  font-size: 32px;
  padding-top: 8px;
}

.recipe ul {
  padding-inline-start: 40px;
}

.recipe ol {
  padding-inline-start: 40px;
}
